<%- include('../partials/header') %>

<div class="user-welcome-container">
    <div class="user-welcome">
    </div>
    <h2>Welcome to Bad Grapes Wine Club!</h2>
    <div class="user-select">
    </div>
</div>
<div class="landing-page-container">
    <img src="/images/wallpaperBGWC.jpg" alt="">
</div>
<div class="new-bundle">
    <a href="/bundles/new" style="text-decoration:none"> CREATE YOUR BUNDLE</a>
</div>
<div class="bundle-list">
    <% bundles.forEach(function(b) { %>
        <td><%= b.name %></td>
        <ul class="details">
        <td><a href="/bundles/<%= b._id %>" style="text-decoration:none"><%= b.bundle %></a></td>
        </ul>
    </tr>
    <% }); %>
</div>

<%- include('../partials/footer') %>