<%- include('../partials/header') %>
<section it="bundle-show-page">
    <div>Bundle Name:</div>
    <div><%= bundle.bundle %></div>
    <div>Wine One:</div>
    <div><%= bundle.wine1 %></div>
    <div>Wine Two:</div>
    <div><%= bundle.wine2 %></div>
    <div>Created By:</div>
    <div></div>
</section>
<%- include('../partials/footer') %>