<%- include('../partials/header') %>

<section id="show-bundle">
    <div>Name:</div>
    <div><%= wine.name %></div>
    <div>Style</div>
    <div><%= wine.style %></div>
    <div>Region</div>
    <div><%= wine.region %></div>
    <div>Natural</div>
    <div><%= wine.natural ? 'Yes' : 'No' %></div>
    <div>IMG</div>
    <div><img src=" <%= wine.img %> "/></div>

</section>

<%- include('../partials/footer') %>