<%- include('../partials/header') %>

<section id="show-bundle">
    <div>Name:</div>
    <div><%= wine.name %></div>
    <div>Style</div>
    <div><%= wine.style %></div>
    <div>Region</div>
    <div><%= wine.region %></div>
    <div>Natural</div>
    <div><%= %></div>
</section>

<%- include('../partials/footer') %>